In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "F:\\UNIVERSITY\\UNIVERSITY_DOCUMENTS\\BIG_DATA\\Doan\\baseline\\multi_gnn\\Multi-GNN\\data\\Small_HI\\formatted_transactions.csv"
df = pd.read_csv(path)

In [3]:
df.columns

Index(['EdgeID', 'from_id', 'to_id', 'Timestamp', 'Amount Sent',
       'Sent Currency', 'Amount Received', 'Received Currency',
       'Payment Format', 'Is Laundering'],
      dtype='object')

In [6]:
df[df["Timestamp"] > 10]

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
10977,160,165,165,70,10.46,0,10.46,0,0,0
10978,149732,100972,121331,70,962.37,2,962.37,2,2,0
10979,258901,209975,209975,70,18.28,10,18.28,10,0,0
10980,312919,250348,253668,70,237217.20,14,237217.20,14,1,0
10981,283096,229465,229465,70,15402.73,12,15402.73,12,0,0
...,...,...,...,...,...,...,...,...,...,...
5078340,4962230,71717,20395,1504930,3749.14,0,3749.14,0,3,1
5078341,4962232,71717,131619,1509490,1785.27,2,1785.27,2,3,1
5078342,4962231,71717,71717,1509490,2091.95,0,1785.27,2,3,0
5078343,4962233,71717,273443,1515490,2154.54,0,2154.54,0,3,1
5078344,4962234,71717,49001,1527490,5448.55,0,5448.55,0,3,1

In [8]:
list_daily_df = []
num_record_selected = 1000
# Select 10 days
for day in range(10):
    l = day * 24 * 3600
    r = (day + 1) * 24 * 3600
    daily_df = df.loc[
        (df["Timestamp"] >= l) & (df["Timestamp"] < r)
    ].iloc[:num_record_selected]
    list_daily_df.append(daily_df)

sample_df = pd.concat(list_daily_df)

In [11]:
save_path = "data/sample/formatted_transactions.csv"
sample_df.to_csv(save_path)